body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #848484;
    padding: 30px;

}
#background {
background: url('../images/logo.jpg') no-repeat 50% 50% fixed;
background-size: 334px;
}

h1, h2 {
    font-weight: 500;
}

header > h1 {
    font-weight: 500;
    font-size: 24px;
    float: none;
    color: white;
    
}

h2 {
    font-size: 24px;
    margin: 24px 0;
}

h2 < .currency {
    color: black;
}

input[type=text] {
    width: 175px;
    height: 24px;
    padding: 3px 8px;
    font-size: 14px;
    line-height: 3;
    color: black;
    /*border: 1px solid #ccc;*/
}

label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 4px;
}

.content {
    padding: 20px;
}

/*.bar {
    display: inline-block;
    border: none;
    height: 8px;
}*/

/*.stretch {
    width: 100%;
    padding-left:0;
    padding-right:0;
}*/
